services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8089:8089"
    environment:
      - NODE_ENV=${NODE_ENV:-production}
      - MONGODB_URI=${MONGODB_URI}
      - FRONT_URL=${FRONT_URL}
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
    ports:
      - "3002:80"
    environment:
      - NODE_ENV=${NODE_ENV:-production}
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
